hr {
  clear: both;
  visibility: hidden;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

body {
  background: url("../images/xxm/xxtramile.jpg") no-repeat fixed;
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* menu bar calors */
#menu {
  background-color: #f7f9f7;
  background: linear-gradient(to bottom right, #69fb6b, #f7f9f7);
}


#footer {
	color: wheat;
}

.ui.container {
	/* flex: 1; */
}

.ui.centered.header,
.ui.center.aligned.header {
  color: green;
}

.item .description {
  font-size: x-small;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: bolder;

}

.title {
  text-transform: uppercase;
}

p {
  font-family: "Lora", serif;
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Hind Siliguri', sans-serif;

font-family: 'Open Sans', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;
 */
