<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>xxtramile MUSIC</title>
    <link rel="shortcut icon" href="../static/images/xxm/xxtramile.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/semantic/semantic.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../static/css/semantic/semantic.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Hind+Siliguri|Libre+Baskerville|Lora|Noto+Serif|PT+Sans+Narrow|Playfair+Display" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/master.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Noto+Serif+SC|Open+Sans|Playfair+Display|Work+Sans" rel="stylesheet">
    <script src="../static/js/lib/data.js"></script>
    <script src="../static/js/lib/handlebars-v4.0.12.js"></script>
</head>
<style>
    .ui.horizontal.divider:after,
    .ui.horizontal.divider:before {
        background-image: url('');
    }

    body {
        background: black;
    }

    div.ui.segment {
        background: #f6fbd4;
    }
</style>

<body>
    <div class="ui container">
        <hr>
        <div class="ui labeled icon menu" id="menu">
            <div class="item">
                <i class="home icon"></i> <a href="../index.html">Home</a>
            </div>
            <div class="active item">
                <i class="info circle icon"></i> <a href="#">About</a>
            </div>
            <div class="right item">
                <i class="music icon"></i>
                <a href="projects.html">Projects
                </a>
            </div>
        </div>
    </div>
    <div class="ui container">
        <br>
        <h2 class="ui horizontal divider header" style="color: aliceblue;">
            <i class="music icon"></i> xxtramile
        </h2>
        

        <!-- Founder -->
        <div class="ui fluid accordion" id="accordion"></div>
        <h2 class="ui horizontal divider header" style="color: aliceblue;">
            <i class="users icon"></i> Executives
        </h2>
                
        <div id="card"></div>

        <!-- end of founder -->

        <div class="ui green piled segment">
            <div class="ui list">
                <div class="item">
                    <i class="users icon"></i>
                    <div class="content">
                        xxtramile
                    </div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">
                        1, Zone 16 St, Langa, Cape Town, 7455, South Africa
                    </div>
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    <div class="content">
                        <b>xxtramilemusic@gmail.com</b>
                    </div>
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    <div class="content">
                        +2763 595 4226
                    </div>
                </div>
            </div>
        </div>

        <div class="ui red piled segment">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fxxtramilemsic%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
        <div id="footer"></div>
        <hr><hr>
        <div></div>

        <script id="statementsScript" type="text/x-handlebars-template">
            <div class="ui blue raised segment">
                <h4 class="title">Company Overview</h4>
                {{#each Overview}}
                    <p>{{{paragraph}}}</p>
                {{/each}}
            </div>
    
            <div class="ui styled fluid accordion" style="text-align: -webkit-center">
                    <div class="ui pink segment">
                {{#each data}}
                    <div class="title">
                        <i class="dropdown icon"></i> {{title}}
                    </div>
                    <div class="content">
                        {{{content}}}
                        <br>
                    </div>
                    {{/each}}
                    </div>
            </div>
        </script>

        <script id="showCardScript" type="text/x-handlebars-template">
            <div class="ui raised segment">
                <div class="ui divided items">
                    {{#each data}}
                    <div class="item">
                        <div class="image">
                            <img src="../static/images/founder/{{imgPath}}">
                        </div>
                        <div class="content">
                            <a class="header" href="https://www.facebook.com/{{facebookId}}" target="_blank"><u>{{fullName}}</u></a>
                            <div class="meta">
                                <span class="cinema"><u><b>{{title}}</b></u></span>
                            </div>
                            <div class="description" style="text-transform: none;">
                                <p>{{{description}}}</p>
                            </div>

                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </script>
            
        <script id="footerScript" type="text/x-handlebars-template">
            <div class="ui vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable divided equal height stackable grid">
                        {{#each data}}
                        <div class="{{column}} wide column">
                            <h4 class="ui header">{{header}}</h4>
                            <div class="ui link list">
                                {{#each this.link}}
                                <a href="{{url}}" class="item" target="_blank" style="text-align: left;">{{{title}}}</a>
                                {{/each}}

                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </script>

    <script src="../static/js/index.js"></script>
</body>
</html>