<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <title>xxtramile MUSIC</title>
        <link rel="shortcut icon" href="../static/images/xxm/xxtramile.png" />
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/semantic/semantic.css" />
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
        <script src="../static/css/semantic/semantic.js"></script>
        <link
            href="https://fonts.googleapis.com/css?family=Crimson+Text|Hind+Siliguri|Libre+Baskerville|Lora|Noto+Serif|PT+Sans+Narrow|Playfair+Display"
            rel="stylesheet" />
        <link rel="stylesheet" href="../static/css/master.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Noto+Serif+SC|Open+Sans|Playfair+Display|Work+Sans"
            rel="stylesheet">
        <script src="../static/js/lib/data.js"></script>
        <script src="../static/js/lib/handlebars-v4.0.12.js"></script>
    </head>
    <style>
    .ui.horizontal.divider:after,
    .ui.horizontal.divider:before {
        background-image: url('');
    }

    .hp {
        color: rgb(12, 78, 12);
        font-weight:700;
    }

    .ui.segment {
        color: red;
        color: black;
        text-align: center;
        font-weight: 600;
    }

    p:hover {
        /* color: white; */
        /* background-color: black; */
    }
</style>

    <body>
        <div class="ui container">
            <hr>
            <div class="ui labeled icon menu">
                <div class="item">
                    <i class="home icon"></i> <a href="../index.html">Home</a>
                </div>
                <div class="item">
                    <i class="users icon"></i> <a href="founder.html">Founder</a>
                </div>
                <div class="item">
                    <i class="info circle icon"></i> <a href="about.html">About</a>
                </div>
                <div class="right active item">
                    <i class="music icon"></i>
                    <a href="#">Artists
                    </a>
                </div>
                <div class="item">
                    <i class="random icon"></i> <a href="projects.html">Projects</a>
                </div>
            </div>

            <div class="ui piled segment">
                <h4 class="ui horizontal divider header">
                    <i class="music icon"></i> Artists
                </h4>

                <!-- <div id="showArtists"></div> -->

                <!-- Temporary -->
                <div class="ui segment">
                    <button class="ui facebook button">
                            <i class="facebook icon"></i>
                            <a href="https://www.facebook.com/harmaxprojects"
                                style="color: white;" target="_blank">Harmax
                                Projects</a>
                        </button>
                    <div class="ui hidden divider"></div>
                    <img class="ui small left floated image"
                        src="../static/images/artists/HarmaxProjects.jpg">
                    <p><b class="hp">Harmax Projects</b> is a duo from Khayelitsha formed by
                        Bongani Moyeni (Hardsoul) and
                        Masixole Max Faca (Finish) in 2012. They produce genres
                        such as Electro, Techno, Deep
                        Tech, Tribal music and Afro House but they are also
                        flexible to other none-house genres.
                        Bongani Moyeni begin in the music industry as DJ in
                        2009. He has perfomed in stage
                        with artists such as DJ Tira, Problem child, Lulo Cafe,
                        DJ Mbuso, Bignuzz, Twitty Zintle,
                        Pepsi, Fisherman, Mahoota and Vinny da Vincy. </p>
                    <p>He fell in love music production in 2014
                        when he met Masixole. Masixole Faca has been doing music
                        production since 2007. He
                        started producing deep house and tribal music. He spend
                        time listening to international
                        house music and decide adapt from it. He began to
                        produce Deep Tech, Techno and
                        Electro House Music. He has featured in DJ MIZZ’s EP
                        called Mandulo and has also
                        featured on Deepconsoul’s EP called Mvelingqangi.</p>
                    <img class="ui small right floated image"
                        src="../static/images/artists/Harmax.jpg">
                    <p>They have made a research in the global scene and
                        downloaded more of Electro, Techno
                        music gathering as much possible information they find
                        and attending electronic music
                        events. They also made a research in the local scene
                        since their style of music was not
                        appreciated Then the Duo had time to invent a new style.</p>
                    <p>They have decided to fuse all
                        the sounds of Techno, African and Electro to create a
                        new taste that will accommodate
                        more nations and which they believe it is truly
                        expressing their love for music. <br><br>
                        We have plans on releasing the EP on Traxsource through
                        Ambious Records.</p>

                    <div class="ui divider"></div>


                    <!-- <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fharmaxprojects%2Fposts%2F857546384447785&width=500" width="500" height="517" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->

                </div>

                <!-- <script id="artistScript" type="text/x-handlebars-template">
                <div class="ui raised segment" style="background-image: url('../static/images/artists/{{imgPath}}')" >
                    <div class="ui divided items">
                        {{#each data}}
                        <div class="item">
                            <div class="image">
                                <img src="../static/images/artists/{{imgPath}}">
                            </div>
                            <div class="content">
                                <a class="header" href="https://www.facebook.com/{{facebookId}}" target="_blank">{{fullName}}</a>
                                <div class="meta">
                                    <span class="cinema" style="text-transform:uppercase;">{{title}}</span>
                                </div>
                                <div class="description" style="text-transform: none;">
                                    <p>{{{description}}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <hr>
                    </div>
                </div>
            </script> -->
                <div id="footer"></div>

                <script id="footerScript" type="text/x-handlebars-template">
                <div class="ui vertical footer segment">
                    <div class="ui container">
                        <div class="ui stackable divided equal height stackable grid">
                            {{#each data}}
                            <div class="{{column}} wide column">
                                <h4 class="ui header">{{header}}</h4>
                                <div class="ui link list">
                                    {{#each this.link}}
                                    <a href="{{url}}" class="item" target="_blank">{{{title}}}</a>
                                   {{/each}}

                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </script>
            </div>
        </div>
        <script src="../static/js/index.js"></script>
    </body>

</html>
