<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>xxtramile MUSIC</title>
    <link rel="shortcut icon" href="../static/images/xxm/xxtramile.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/semantic/semantic.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../static/css/semantic/semantic.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Hind+Siliguri|Libre+Baskerville|Lora|Noto+Serif|PT+Sans+Narrow|Playfair+Display" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/master.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Noto+Serif+SC|Open+Sans|Playfair+Display|Work+Sans" rel="stylesheet">
    <script src="../static/js/index.js"></script>
</head>
<style>
    .ui.horizontal.divider:after,
    .ui.horizontal.divider:before {
        background-image: url('');
    }; 

</style>

<body>
    <div class="ui container">
        <hr>
        <div class="ui labeled icon menu">
            <div class="item">
                <i class="home icon"></i> <a href="../index.html">Home</a>
            </div>
            <div class="active item">
                <i class="users icon"></i> <a href="">Founder</a>
            </div>

            <!-- <div class="right item">
                <i class="music icon"></i>
                <a href="artists.html">Artists
                </a>
            </div>
            <div class="item">
                    <i class="random icon"></i> <a href="projects.html">Projects</a>
                </div> -->
        </div>



        <div class="ui segment container">
            <h4 class="ui horizontal divider header">
          <i class="users icon"></i> Executives
        </h4>

            <div class="ui raised segment">
                <div class="ui divided items">
                    <div class="item">
                        <div class="image">
                            <img src="../static/images/founder/11146618_908596112496755_6101174605622458539_n.jpg">
                        </div>
                        <div class="content">
                            <a class="header" href="https://www.facebook.com/phuthumile.mfobo" target="_blank"><u>Phuthumile Mfobo</u></a>
                            <div class="meta">
                                <span class="cinema"><u><b>Founder & CEO</b></u></span>
                            </div>
                            <div class="description" style="text-transform: none;">
                                <p>
                                    Born on the 20th of February 1982, being the only son and the last born to my mother. I studied and grew in Langa township in Cape Town.
                                    I started as a Pantsula dancer way back and things heated up. I got interested in Djying and after a few years in djing got also interested in coordinating events.
                                    <br> <hr>
                                    We started a crew where I informally managed artists.  Through my experience in working with various artists,  I have developed a  strong skill in artist management and I decided to enroll to study music business at SAE. After my course, I wanted to do things formally and that is when I set up a company called XXTRAMILE MUSIC.
                                </p>
                            </div>
                       
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="ui vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui header">About</h4>
                            <div class="ui link list">
                                <a href="#" class="item">Sitemap</a>
                                <a class="item" href="mailto:xxtramilemusic@gmail.com">Contact Us</a>

                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui header">Platforms</h4>
                            <div class="ui link list">
                                <a href="https://www.facebook.com/xxtramilemsic/" class="item" target="_blank">Facebook</a>
                                <a href="#" class="item">Twitter</a>
                                <a href="#" class="item">Instagram</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui header">xxtramile</h4>
                            <div class="ui link list">
                                <a class="item">
                                    <i class="flag icon"></i>
                                    December 2015 ©
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
