<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>xxtramile MUSIC</title>
    <link rel="shortcut icon" href="../static/images/xxm/xxtramile.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/semantic/semantic.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../static/css/semantic/semantic.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Hind+Siliguri|Libre+Baskerville|Lora|Noto+Serif|PT+Sans+Narrow|Playfair+Display" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/master.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Noto+Serif+SC|Open+Sans|Playfair+Display|Work+Sans" rel="stylesheet">
    
</head>
<style>
    .ui.horizontal.divider:after,
    .ui.horizontal.divider:before {
        background-image: url('');
    }

    ;
</style>

<body>
    <div class="ui container">
        <hr>
        <div class="ui labeled icon menu">
            <div class="item">
                <i class="home icon"></i> <a href="../index.html">Home</a>
            </div>
            <div class="item">
                <i class="users icon"></i> <a href="founder.html">Founder</a>
            </div>

            <div class="right item">
                <i class="music icon"></i>
                <a href="artists.html">Artists
                </a>
            </div>
            <div class="active item">
                    <i class="random icon"></i> <a>Projects</a>
                </div>
        </div>



        <div class="ui segment container">
            <h4 class="ui horizontal divider header">
          <i class="random icon"></i> About
        </h4>

        <div class="ui raised segment" style="background: #f2f2f2;">
            <img class="ui centered medium circular image" src="../static/images/xxm/ttad.jpg">
            <hr><br>
            <div class="ui fluid accordion">
            <div class="ui blue stacked segment">
                    <div class="title">
                        <i class="dropdown icon"></i> What is That Thing About Deep?
                    </div>
                    <div class="content">
                        <p class="transition visible" style="display: block !important;">
                                It's a beat that bridges all cultures, creeds and ethnicities, connecting all who feel it, in a diverse and dynamic crowd, focused on quality musical experiences. <br> It is a common rhythm that unites, allowing people from different backgrounds to connect and experience the musical journey together.
                        </p>
                    </div>
                </div></div>
        </div>


        <div class="container">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/456151212&color=%23232323&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>

      

            <div class="ui vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui header">About</h4>
                            <div class="ui link list">
                                <a href="#" class="item">Sitemap</a>
                                <a class="item" href="mailto:xxtramilemusic@gmail.com">Contact Us</a>

                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui header">Platforms</h4>
                            <div class="ui link list">
                                <a href="https://www.facebook.com/xxtramilemsic/" class="item" target="_blank">Facebook</a>
                                <a href="#" class="item">Twitter</a>
                                <a href="#" class="item">Instagram</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui header">xxtramile</h4>
                            <div class="ui link list">
                                <a class="item">
                                    <i class="flag icon"></i>
                                    December 2015 ©
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="../static/js/index.js"></script>
</body>

</html>
